#! usr/bin/env nextflow

params {
    outdir = 'results'
    reads  = "data/*_{R1,R2}.fastq"  
}

profiles {
    docker_on {
        docker.enabled = false
    }
    conda_on {
        conda.enabled = true
    }
}

process {
    withName: MERGE {
        conda = 'bioconda::vsearch=2.30.4'
        publishDir = [
            [path: "${params.outdir}/merged_reads",   mode: 'copy', pattern: '*_merged.fastq'],
            [path: "${params.outdir}/discarded/unmerged_reads", mode: 'copy', pattern: '*_unmerged_R{1,2}.fastq'],
            [path: "${params.outdir}/log/merge_logs",     mode: 'copy', pattern: '*_merge.log'],
        ]
        cpus   = 0.5
        memory = 1.GB
        time   = 2.m
    }

    withName: TRIM {
        conda = 'bioconda::cutadapt=5.1'
        publishDir = [
		[path: "${params.outdir}/trimmed_reads",	mode: 'copy',	pattern:'*_trimmed.fastq'],
		[path: "${params.outdir}/log/trim_stats",		mode: 'copy',	pattern:'*_trim_stats.txt'],
		]
		cpus   = 2
        memory = 1.GB
        time   = 5.m
    }

    withName: QUALITY {
        conda = 'bioconda::fastp=1.0.1'
        publishDir = [
		[path: "${params.outdir}/log/qc_reports",		mode: 'copy',	pattern:'*.html'],
		[path: "${params.outdir}/log/qc_reports",		mode:'copy',	pattern:'*.json'],
		[path: "${params.outdir}/filtered_reads",	mode:'copy',	pattern:'*_filtered.fastq'],
		[path: "${params.outdir}/discarded/low_quality_reads",	mode:'copy',	pattern:'*_failedreads.fastq'],
		[path: "${params.outdir}/log/qc_stats_txt",		mode : 'copy',	pattern :'*.txt'],
		]
		cpus   = 2
        memory = 2.GB
        time   = 4.m
    }

    withName: CLUSTER {
        conda = 'bioconda::vsearch=2.30.4'
        publishDir = [
		[path: "${params.outdir}/clustered_reads",	mode: 'copy',	pattern:'*_clustered.fasta'],
		[path: "${params.outdir}/discarded/unclusterd_reads",	mode:'copy',	pattern:'*_unclustered.fasta'],
		[path:"${params.outdir}/log/cluster_log",		mode:'copy',	pattern:'*_cluster.log'],
		]
        cpus   = 2
        memory = 1.GB
        time   = 5.m
    }

    withName: PARSE {
        conda = 'bioconda::vsearch=2.30.4'
        publishDir = [
		[path: "${params.outdir}/log/parse_logs",		mode: 'copy',	pattern:'*_vsearch.log'],
		[path: "${params.outdir}/parse/hits.tsv",			mode:'copy',	pattern:'*_hits.tsv'],
		[path: "${params.outdir}/parse/hits.b6",		mode:'copy',	pattern:'*.hits.b6'],
		[path:"${params.outdir}/parse/no_hits",		mode:'copy',	pattern:'*_nohits.fasta'],
		]
        cpus   = 2
        memory = 1.GB
        time   = 5.m
    }
}
